
<div class="container mx-auto p-4">
  <div class="container mx-auto p-4">
  @if (products.length > 0) {
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      @for (product of products; track product.idProduct) {
        <div class="bg-white rounded-lg shadow-md overflow-hidden flex flex-col">
          <img [src]="product.imagesUrl" alt="{{ product.nameProduct }}" class="cursor-pointer hover:scale-110 transition-transform duration-300 w-full h-48 object-cover"(click)="goToProduct(product.idProduct)" />
          
          <div class="p-4 flex flex-col flex-grow">
            <h3 class="text-lg font-semibold text-gray-800 mb-2">{{ product.nameProduct }}</h3>
            <p class="text-gray-600 flex-grow">{{ product.description }}</p>
            <p class="mt-2 font-bold text-gray-900">${{ product.price }}</p>
            <button type="button" (click)="addToCart(product.idProduct)" [disabled]="product.stateProduct !== 'Available'" class="py-1 rounded text-white bg-blue-600 hover:bg-blue-700 disabled:bg-gray-400 disabled:cursor-not-allowed w-full mt-2">
              <span [ngClass]="{'line-through': product.stateProduct !== 'Available'}">
                {{ product.stateProduct === 'Available' ? 'Agregar' : 'Agotado' }}
              </span>
            </button>  </div>
        </div>
      }
    </div>
  } @else {
  <div class="text-center text-gray-500">No hay productos disponibles.</div>
}


  </div>
